body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}

/* header css */
header {
    height: 60px;
    width: 100%;
    background-color: #071012;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    color: white;
    font-style: oblique;
    
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 25px;
    color: white;
    text-transform:initial;
    text-decoration: aliceblue;

}

/* home styling */
.home {
    height: 800px;
    width: 100%;
    background-color: #e4bfe8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230415/pngtree-website-technology-line-dark-background-image_2344719.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content {
    height: 30%;
    width: 50%;

    padding: 10px;
    color: rgb(180, 160, 160);
    justify-content: center;
    align-items: center;


}

.home-image {
    justify-content: left;
}


.about {
    height: 200vh;
    width: 100%;
    background-color: #d7a6c2;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    justify-content: left;
    background-image: url("https://dkemhji6i1k0x.cloudfront.net/000_clients/1173818/page/1173818EvT0ftuv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.about-heading {
    color: rgb(48, 97, 103);
}

.left-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    background-color: rgba(216, 194, 194, 0.143);
    color:rgba(255, 255, 255, 0.771)
    (230, 160, 167);
    padding: 30px;
}

.right-container {

    height: 100%;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset;
    border-radius: 10px;


}
.down-conatiner{
    font-size: xx-large;
    color: white;
}
