body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}

/* header css */
header {
    height: 60px;
    width: 100%;
    background-color: #060e10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    color: white;
    font-style: oblique;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 25px;
    color: white;
}

/* home styling */
.home {
    height: 800px;
    width: 100%;
    background-color: #e4bfe8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-content {
    height: 30%;
    width: 50%;

    padding: 10px;
    color: rgb(26, 14, 14);
    justify-content: center;
    align-items: center;


}

.home-image {
    justify-content: left;
}


.about {
    height: 200vh;
    width: 100%;
    background-color: #d7a6c2;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    justify-content: left;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.about-heading {
    color: rgb(48, 97, 103);
}

.left-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.143);
    color: white;
    padding: 30px;
}

.right-container {

    height: 100%;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset;
    border-radius: 10px;


}